
.flex-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding: 20px 0; 
}
.logo {
    width: 7%; 
    height: auto;
    margin: 0 20px; 
}
.flex-container h2, .flex-container h3 {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}
.flex-container h2 {
    font-size: 32px;
    margin-right: 10px;
}
  
.flex-container h3 {
    font-size: 24px;
    margin-left: 10px;
}
body {
      font-size: 25px;
      font-family: "Segoe UI", Arial, sans-serif; 
}
img {
    width: 7%;
    height: auto; 
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 84, 162);
    color: white;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 84, 162);
    top: 0;
    }
li {
    float: left;
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      
}
    
li a:hover {
    background-color: #111;
}  
.active {
    background-color: red;
}
.footertextinfo {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    justify-content: center;
    color: #fff;
    text-decoration: none;}
.footertext {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}
.footertext:hover {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
    justify-content: center;
    color: red;
}

  